<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :book_content %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect {|p| [ p.name, p.id ] }, id: :book_category_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, Book.states.keys.to_a.map { |w| [w.humanize, w] },id: :book_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
