<%= form_with(model: borrow, local: true) do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
      <% borrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :borrow_book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :borrow_user_id %>
  </div>

  <div class="field">
    <%= form.label :returned_at %>
    <%= form.datetime_select :returned_at, id: :borrow_returned_at %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :borrow_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
