<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @borrow.book %>
</p>

<p>
  <strong>User:</strong>
  <%= @borrow.user %>
</p>

<p>
  <strong>Returned at:</strong>
  <%= @borrow.returned_at %>
</p>

<p>
  <strong>State:</strong>
  <%= @borrow.state %>
</p>

<%= link_to 'Edit', edit_borrow_path(@borrow) %> |
<%= link_to 'Back', borrows_path %>
